<div class="container-fluid about">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h1>What is Geocaching?</h1>
      <hr>
      <p>Part treasure hunt, part outdoor adventure, geocaching is the real-world Pokémon Go! hobby for families, hikers and those who love to explore off the beaten path. The level of difficulty can   be matched to the age and physical ability of the hunters. It is also an inexpensive hobby—requiring only the purchase of a handheld GPS unit or simply downloading an app to a smartphone.
        “Cachers” select a cache to find from the website www.geochaching.com, type the latitude and longitude coordinates into their GPS tracking unit. While hunting, the GPS unit gives the geocacher a near-precise location for the hidden object, but won’t bring the person directly to the cache.
        The next step is to search the area for the hidden cache. After finding the cache, the seeker then logs back onto the website and marks that cache as ‘found.’</p>
      <h3>Creative hiding places</h3>
        <hr>
        <p>Part of the fun of finding the cache is discovering how creatively it is hidden. Often, right off a path traveled by hundreds of human feet will be a small, everyday object such as a canister used for holding camera film, or a metal lunch box hidden under brush.
          Most caches are small containers with a simple paper registry inside. With these types, the cacher simply signs the registry and returns the container to its hidden location. Be careful putting the cache back—one of the rules of the hunt is to be certain non-cachers, known as ‘Muggles’ do not see you finding or hiding a cache.
          Other caches contain small, inexpensive trinkets. The rules are simple: take a trinket from the cache and leave a trinket of your own in its stead.
          Each cache is rated on a difficulty scale; some are easier to find than others.</p>
        <h3>Variations</h3>
          <hr>
          <p>Traditional geocaching gave birth to GeoCaching – an active urban game of the Encounter project. The game is quite similar to geocaching but has time limitations and hints.
          Geocaches vary in size, difficulty, and location. Simple caches that are placed near a roadside are often called "drive-bys", "park 'n grabs" (PNGs), or "cache and dash". Geocaches may also be complex, involving lengthy searches, significant travel, or use of specialist equipment such as SCUBA diving, kayaking, or abseiling. Different geocaching websites list different variations per their own policies.
          Container sizes range from "nanos", particularly magnetic nanos, which can be smaller than the tip of finger and have only enough room to store the log sheet, to 20-liter (5 gallon) buckets or even larger containers, such as entire trucks.[15] The most common cache containers in rural areas are lunch-box-sized plastic storage containers or surplus military ammunition cans. Ammo cans are considered the gold standard of containers because they are very sturdy, waterproof, animal- and fire-resistant, relatively cheap, and have plenty of room for trade items. Smaller containers are more common in urban areas because they can be more easily hidden.
          Caches can be grouped in three categories – with and without a paper log, and events.  The following types do not have paper logs.</p>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
