
  <div class="form-group">
    <label>Enter latitude</label>
    <input type="text" value="49.6021345" #latitude>
  </div>
  <div class="form-group">
    <label>Enter longitude</label>
    <input type="text" value="34.4870274" #longitude>
  </div>
  <button (click)="getGeocache(latitude.value, longitude.value)">Get Ceocache!</button>

  <div class="form-group">
    <label>Enter address</label>
    <input type="text" value="" #address>
  </div>
  <button (click)="getGeocacheByAddress(address.value)">getGeocache coords!</button>
  <div>
    <app-geocache-list [clildGeocache]="geocache" [clildByCoords]="byCoords"></app-geocache-list>
  </div>
